*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  margin: 0;
  padding: 0;
  border: 0;
  display: block; /* Removes the inline-block space below images */
  max-width: 100%; /* Ensures images don't overflow their container */
  height: auto; /* Maintains aspect ratio */
}

/* Resetting h1-h6 headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: "Rubik", Arial, sans-serif;
  background-color: hsl(226, 43%, 10%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 1rem;
}

main {
  color: hsl(236, 100%, 87%);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main .profile-card {
  background-color: hsl(235, 46%, 20%);
  height: auto;
}
main .work-card {
  background-color: hsl(15, 100%, 70%);
}
main .play-card {
  background-color: hsl(195, 74%, 62%);
}
main .study-card {
  background-color: hsl(348, 100%, 68%);
}
main .exercise-card {
  background-color: hsl(145, 58%, 55%);
}
main .social-card {
  background-color: hsl(264, 64%, 52%);
}
main .selfCare-card {
  background-color: hsl(43, 84%, 65%);
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
}
.card .card-icon {
  position: absolute;
  top: -0.3rem;
  right: 0;
  height: 4.5rem;
  width: 4rem;
  margin-right: 1rem;
  object-fit: fill;
}
.card .container {
  position: absolute;
  background-color: hsl(235, 46%, 20%);
  bottom: 0;
  height: 7.8rem;
  width: 100%;
  border-radius: 1rem;
  padding: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 0.5rem;
}
.card .container .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .container .card-header .title {
  font-weight: 400;
  font-size: 1.125rem;
  color: white;
}
.card .container .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.card .container .details .present {
  font-size: 2rem;
  color: white;
}
.card .container .details .previous {
  font-weight: 300;
  text-wrap: wrap;
  color: hsl(236, 100%, 87%);
}
.card .profile {
  background-color: hsl(246, 80%, 60%);
  border-radius: 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  gap: 1.8rem;
}
.card .profile img {
  border-radius: 50%;
  height: 4rem;
  width: 4rem;
  border: 0.1rem solid white;
}
.card .profile h1 {
  color: hsl(236, 100%, 87%);
}
.card .profile span {
  display: block;
  font-size: 1.5rem;
  color: white;
  line-height: 1.2;
}
.card .navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2rem;
  color: hsl(235, 45%, 61%);
}
.card .navigation .active {
  color: hsl(236, 100%, 87%);
  font-weight: 400;
}
.card .navigation li:hover {
  cursor: pointer;
  color: hsl(236, 100%, 87%);
}

@media (min-width: 40rem) {
  main {
    display: grid;
    padding: 0;
    grid-template: repeat(2, 1fr)/repeat(2, 1fr);
    grid-template-areas: "profile profile" "work play" "study exercise" "social selfCare";
  }
  main .profile-card {
    grid-area: profile;
  }
  main .work-card {
    grid-area: work;
  }
  main .play-card {
    grid-area: play;
  }
  main .study-card {
    grid-area: study;
  }
  main .exercise-card {
    grid-area: exercise;
  }
  main .social-card {
    grid-area: social;
  }
  main .selfCare-card {
    grid-area: selfCare;
  }
  .card {
    height: 14rem;
    width: 14rem;
  }
  .card .container {
    height: 11.5rem;
    width: 14rem;
    transition: background-color 0.3s ease;
  }
  .card .container .card-header .title {
    font-size: 1rem;
  }
  .card .container .card-header .options:hover {
    cursor: pointer;
  }
  .card .container .details {
    flex-direction: column;
    align-items: flex-start;
  }
  .card .container .details .present {
    font-size: 3rem;
  }
  .card .container .details .previous {
    font-weight: 300;
    text-wrap: wrap;
  }
  .card .container:hover:not(.no-hover) {
    cursor: pointer;
    background-color: hsl(235, 46%, 40%);
  }
  .card .profile {
    justify-content: flex-start;
    height: 85%;
  }
  .card .profile span {
    font-size: 2rem;
  }
  .card .profile img {
    height: 5rem;
    width: 5rem;
    border: 0.2rem solid white;
  }
  .profile-card {
    width: auto;
  }
  .profile-card .navigation {
    font-size: 1.2rem;
  }
}
@media (min-width: 75rem) {
  html {
    font-size: 18px;
  }
  body {
    padding: 0;
  }
  main {
    display: grid;
    padding: 0;
    grid-template: repeat(2, 1fr)/1.1fr repeat(3, 1fr);
    grid-template-areas: "profile work play study" "profile exercise social selfCare";
  }
  .card .container .details {
    flex-direction: column;
    align-items: flex-start;
  }
  .card .profile {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .card .profile span {
    font-size: 2.4rem;
  }
  .card .profile img {
    height: 5rem;
    width: 5rem;
    border: 0.2rem solid white;
  }
  .card .navigation {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .profile-card {
    max-width: 15.5rem;
  }
}
@media (min-width: 91rem) {
  html {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
