@use "./base/reset_css";
@use "./mixin/mediaqueries" as mq;

// Primary
$Blue: hsl(246, 80%, 60%);
$Light-Orange: hsl(15, 100%, 70%); //work
$Soft-Blue: hsl(195, 74%, 62%); //play
$Light-Red: hsl(348, 100%, 68%); // study
$Lime-Green: hsl(145, 58%, 55%); //exercise
$Violet: hsl(264, 64%, 52%); //social
$Soft-Orange: hsl(43, 84%, 65%); //self care

// Neutral
$Very-Dark-Blue: hsl(226, 43%, 10%);
$Dark-Blue: hsl(235, 46%, 20%);
$Desaturated-Blue: hsl(235, 45%, 61%);
$Pale-Blue: hsl(236, 100%, 87%);

$font-size: 18px;
$font-fam: "Rubik", Arial, sans-serif;
$weight-1: 300;
$weight-2: 400;
$weight-3: 500;

body {
  font-family: $font-fam;
  background-color: $Very-Dark-Blue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 5rem 1rem;
}
main {
  color: $Pale-Blue;
  font-weight: $weight-1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;

  .profile-card {
    background-color: $Dark-Blue;
    height: auto;
  }
  .work-card {
    background-color: $Light-Orange;
  }
  .play-card {
    background-color: $Soft-Blue;
  }
  .study-card {
    background-color: $Light-Red;
  }
  .exercise-card {
    background-color: $Lime-Green;
  }
  .social-card {
    background-color: $Violet;
  }
  .selfCare-card {
    background-color: $Soft-Orange;
  }
}
.card {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  height: 10rem;
  position: relative;
  overflow: hidden;
  .card-icon {
    position: absolute;
    top: -0.3rem;
    right: 0;
    height: 4.5rem;
    width: 4rem;
    margin-right: 1rem;
    object-fit: fill;
  }
  .container {
    position: absolute;
    background-color: $Dark-Blue;
    bottom: 0;
    height: 7.8rem;
    width: 100%;
    border-radius: 1rem;
    padding: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 0.5rem;

    .card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title {
        font-weight: $weight-2;
        font-size: 1.125rem;
        color: white;
      }
    }
    .details {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      .present {
        // font-weight: $weight-2;
        font-size: 2rem;
        color: white;
      }
      .previous {
        font-weight: $weight-1;
        text-wrap: wrap;
        color: $Pale-Blue;
      }
    }
  }

  .profile {
    background-color: $Blue;
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    gap: 1.8rem;
    img {
      border-radius: 50%;
      height: 4rem;
      width: 4rem;
      border: 0.1rem solid white;
    }
    p {
      color: $Pale-Blue;
    }
    span {
      display: block;
      font-size: 1.5rem;
      color: white;
      line-height: 1.2;
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 2rem;
    color: $Desaturated-Blue;

    .active {
      color: $Pale-Blue;
      font-weight: $weight-2;
    }
  }
}

@include mq.respond(tablet) {
  // html {
  //   font-size: 16px;
  // }
  main {
    display: grid;
    padding: 0;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    grid-template-areas:
      "profile profile"
      "work play"
      "study exercise"
      "social selfCare";

    .profile-card {
      grid-area: profile;
    }
    .work-card {
      grid-area: work;
    }
    .play-card {
      grid-area: play;
    }
    .study-card {
      grid-area: study;
    }
    .exercise-card {
      grid-area: exercise;
    }
    .social-card {
      grid-area: social;
    }
    .selfCare-card {
      grid-area: selfCare;
    }
  }
  .card {
    height: 14rem;
    width: 14rem;
    .container {
      height: 11.5rem;
      width: 14rem;

      .card-header {
        .title {
          font-size: 1rem;
        }
      }
      .details {
        flex-direction: column;
        align-items: flex-start;
        .present {
          font-size: 3rem;
        }
        .previous {
          font-weight: $weight-1;
          text-wrap: wrap;
        }
      }
    }
    .profile {
      justify-content: flex-start;
      height: 85%;
      span {
        font-size: 2rem;
      }
      img {
        height: 5rem;
        width: 5rem;
        border: 0.2rem solid white;
      }
    }
  }
  .profile-card {
    width: auto;
    .navigation {
      font-size: 1.2rem;
    }
  }
}

@include mq.respond(desktop) {
  html {
    font-size: 18px;
  }
  body {
    padding: 0;
  }
  main {
    display: grid;
    padding: 0;
    grid-template: repeat(2, 1fr) / 1.1fr repeat(3, 1fr);
    grid-template-areas:
      "profile work play study"
      "profile exercise social selfCare";
  }
  .card {
    .container {
      .details {
        flex-direction: column;
        align-items: flex-start;
      }
    }
    .profile {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      span {
        font-size: 2.4rem;
      }
      img {
        height: 5rem;
        width: 5rem;
        border: 0.2rem solid white;
      }
    }
    .navigation {
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
    }
  }
  .profile-card {
    max-width: 15.5rem;
  }
}

@include mq.respond(large-desktop) {
  html {
    font-size: 20px;
  }
}
